:root {
  --Cell-side: 34.64102px;
  --Cell-size: 60px;
  --Cell-width: 60px;
  --Cell-height: 69.28203px;
  /*
  http://www.had2know.com/academics/hexagon-measurement-calculator.html
  */
}
.Cell {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: calc((var(--Cell-height) / 2) * -1);
	margin-left: calc((var(--Cell-width) / 2) * -1);
	width: var(--Cell-width);
	height: var(--Cell-height);
  background-color: gray;
  transform: translate(0, 0);
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  line-height: var(--Cell-height);
  font-size: 0.5em;
  text-align: center;
  transition: transform, 2s, ease;
}
.Cell:hover {
  background-color: black;
}

.Cell-test {
  background-image: url(./img/test.png);
}
.Cell-test2 {
  background-image: url(./img/test2.png);
}
