.Player {
  width: 40px;
  height: 40px;
	position: absolute;
  z-index: 2;
	left: 50%;
	top: 50%;
	margin-top: calc((40px / 2) * -1);
	margin-left: calc((40px/ 2) * -1);
  transform: translate(0, 0);
  transition: transform, 1s, ease;
}
.Player-dot {
  width: 40px;
  height: 40px;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  background-color: gold;
  color: black;
  transform: rotate(0);
  transition: transform, 1s, ease;
}
.Player-dot--left { transform: rotate(0); }
.Player-dot--leftDown { transform: rotate(300deg); }
.Player-dot--rightDown { transform: rotate(240deg); }
.Player-dot--right { transform: rotate(180deg); }
.Player-dot--rightUp { transform: rotate(120deg); }
.Player-dot--leftUp { transform: rotate(60deg); }
.Player-arrow {
}
.Player-arrow::before {
  content: "<-";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  line-height: 40px;
}
