{% extends 'site.html' %}

{% block stylesheet %}
  {{ super() }}
  <link rel="stylesheet" media="all" href="{{ url_for('send_theme_file', filename='main.css') }}">
{% endblock %}

{% block body %}

  <main role="main">
    {% block main %}

    <div id="timer">
    </div>

    <div id="board">
    </div>

    <div id="scoreboard">
    </div>

    {% endblock %}
  </main>

{% endblock %}

{% block script %}
  {{ super() }}
  <script src="{{ url_for('send_theme_file', filename='main.bundle.js') }}"></script>
{% endblock %}
