<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>

    <meta name="description" content="{{ description|readfile }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">


    {% block stylesheet %}
    <link rel="stylesheet" media="all" href="{{ url_for('send_theme_file', filename='site.css') }}">
    {% endblock %}

  </head>
  <body>

    {% block body %}
    {% endblock %}

    {% block script %}
    {#
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
      #}

      <script src="{{ url_for('send_theme_file', filename='site.bundle.js') }}"></script>
    {% endblock %}
  </body>
</html>
